.project{
    border-color: var(--primary-color);
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--secound-bg-color);
    
    padding:10px;
}

.project-info{
    background-color: transparent;
}

.project:hover{
    box-shadow: #7B59BA 0 0 10px;
}
.project-img{
    box-shadow: inset 0 0 10px 1px #7B59BA;
    width:auto;
    height: auto;
    border-radius: 5px;
}
.project-img img{
    padding: -10;
    border-radius: inherit;
}

.project:hover h1, .project:hover h2{
     text-shadow: #7B59BA 0 0 10px;
}


.techstack-sec{
    background-color: transparent;
    display: flex;
    gap:10px
}
.tech-emblem{
    background-color: hsla(251, 65%, 61%, 0.60);
    border-radius: 15%;
    border-width: 2px;
    border-color: #735CDD;
}

