<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~sm9609/personal-page/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~sm9609/personal-page/index.html [L]
</IfModule>
