.home {
	position: relative;
	z-index: 1;
	background-color: transparent;
}


.section-header {
	display: flex;
	padding-left: 10px;
}

.section-container {
	margin-top: 32px;
	box-shadow:
		hsla(45, 52%, 51%, 0.07) 0 0 10px 10px,
		inset hsla(45, 52%, 51%, 0.219) 0 0 10px 1px;

	padding: 16px;
	border-radius: 24px 24px 0 0;
	background-color: var(--bg-primary);
}
