

.skill-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 130%;
    max-width: fit-content;
    
}

.skill-carousel::-webkit-scrollbar{
    display: none;
}

.skill-spin{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding-bottom: 1em;
    animation: spin 8s linear infinite;
}


.skill-display{
    flex: 0 0 1;
    display: flex;
    position: relative;
    width: 110%;
    
    place-items: center;
    align-items: center;
    justify-content: center;
    will-change: transform;
}


@keyframes spin{
    to{
        transform: translateY(100%); 
    }
}

@keyframes spin-mobile {
    to{
        transform: translateX(100%);
    }
}

.skill-spin .box{
    width:100%;
    height:80%;
}

.skill-spin .skillSvg{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 45%;
    translate: 0% -50%;
    z-index: 1;
  
}

.skillSvg path{
    fill:var(--secondary-color-cool);
}

.skill-label {
  fill: var(--secondary-color-cool);
  font-weight: 700;
  font-family: Overlock, serif;
  font-size: 36px;           
  text-anchor: middle;       
  dominant-baseline: middle;
  pointer-events: none;
  visibility: hidden;
}

@media(max-width:425px){
    .skill-spin{
        flex-direction: row;
        animation-name: spin-mobile;
        padding-bottom: 0em;
        height:100%;
    }

    .skill-display{
        height: 100px;
        width: 100px;
    }

    .skill-carousel{
        flex-direction:row;
        overflow-y: hidden;
        overflow-x: scroll;
       
    }

    .skill-label{
        visibility: hidden;
    }
}